.sidebar {
    height: calc(100vh - var(--navbar-height));
    width: var(--sidebar-width);
    background: var(--inverted-bg-color);
    color: var(--inverted-primary-color);
    transition: width 0.5s;
    position: relative;
}

.lang-switcher {
    margin-left: 10px;
    color: var(--inverted-primary-color);
}

.switchers {
    position: absolute;
    bottom: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.collapsed {
    width: var(--sidebar-collapsed-width);

    .theme-switcher {
        margin-left: 0;
        margin-top: 10px;
    }
    
    .switchers {
        flex-direction: column;
    }
}
