.navbar {
    background: var(--inverted-bg-color);
    color: white;
    height: var(--navbar-height);
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 20px;

    .btn {
        color: var(--inverted-primary-color);
        border-color: var(--inverted-primary-color);
    }
}
